@font-face {
    font-family: "BreviaBold";
    src: url('/frontend/fonts/Brevia-Bold.otf');
}

@font-face {
    font-family: "BreviaBlack";
    src: url('/frontend/fonts/Brevia-Black.otf');
}

@font-face {
    font-family: "BreviaMedium";
    src: url('/frontend/fonts/Brevia-Medium.otf');
}

@font-face {
    font-family: "BreviaSemibold";
    src: url('/frontend/fonts/Brevia-Semibold.otf');
}

body {
	font-family: "BreviaBold";
	color: #333;
}

a { color: #333; }
a:hover { color: #09a6e7; }
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 30px rgba(255,210,0,1);  
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 100px rgba(255,168,0,1); 
}

#intro-teaser {
	background: url("/frontend/img/bg-desktop.jpg") top center no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.error {
	/*padding: 10px;*/
	/*color: #fff;*/
	/*margin-bottom: 50px;*/
}

.how-to-detail {
	font-family: 0.8em;
}

.form-control{
    height: auto;
}

*:focus {outline:none}
*:focus {outline:none !important}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 250px) {
    .nav-desktop {display: none;}
	.logo-ffi img{
		width: 100%;
	}
	
	#intro-teaser .logo-scm img {
	    display:none;
	}

	#home {
		background: url("/frontend/img/bg-pattern.jpg") repeat;
		padding-top: 60px;
	}	

	#home-mydiary {
		background: url("/frontend/img/bg-pattern.jpg") repeat;
		
	}

	#home-detail {
		background: url("/frontend/img/bg-pattern.jpg") repeat;
		padding-top: 60px;
	}
	

	.logo-scm {
		margin-bottom: 20px;
		padding: 20px ;
	}

	.logo-scm img{
		width: 100%;
	}
	
	.logo-scm-2 img {display: block; width: 100%; margin-top: -50%;}

	.headline-mobile {
		display: block;
		color: #fff;
		padding: 20px 5px;
		font-size: 1.2em;
		-webkit-border-image: url("/frontend/img/wave-grey.png") 30 round; /* Safari 3.1-5 */
	    -o-border-image: url("/frontend/img/wave-grey.png") 30 round; /* Opera 11-12.1 */
	    border-image: url("/frontend/img/wave-grey.png") 30 round;
	}

	.headline-desktop {
		display: none;
	}

	.scm-product-teaser {
		margin-top: -50px;
		
	}
	.scm-product-teaser img{
		width: 100%;
		padding: 0 10px;
	}
	
	.scm-product img{
		width: 100%;
		
	}
	#bg-blue {
		background: #09a6e7;
		margin-top: -40px;
	}
	
	#intro-teaser #bg-blue {
		background: #09a6e7;
		margin-top: -80px;
	}
	.wave-up-blue {
	    background-image: url("/frontend/img/wave-up-blue.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    position: absolute;
	    margin-top: -70px;
	    padding-bottom: 100px;
	}

	#intro-teaser .wave-up-blue {
	    background-image: url("/frontend/img/wave-up-blue.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    position: absolute;
	    margin-top: -110px;
	    padding-bottom: 100px;
	}

	.wave-up-blue-bottom {
	    background-image: url("/frontend/img/wave-up-blue-1.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    position: absolute;
	    margin-top: -15px;
	    padding-bottom: 100px;
	}

	.short-description-mobile-teaser {
		padding: 10px 5px;
		color: #fff;
		font-size: 0.8em;


	}
	
	.short-description-desktop-teaser {
		display: none;
	}
	
	.short-description-mobile {
		padding: 10px 5px;
		color: #fff;
		font-size: 0.8em;

	}
	
	.short-description-desktop {
		display: none;
	}

	.clear {
		height: 100px;
	}

	.btn-blue {
		border-radius: 30px;
		padding: 8px 50px 10px 50px;
		background: #0055ad;
		font-size: 1em;
		color: #fff;
		font-family: "BreviaBold";
	}

	.btn-light-blue {
		border-radius: 30px;
		padding: 8px 50px 10px 50px;
		background: #c8efff;
		color: #0a9ce7;
		width: 100%;
		font-size: 1em;
	}

	.btn-yellow {
		border-radius: 30px;
		padding: 8px 50px 10px 50px;
		background: #ffaa06;
		color: #fff;
		width: 100%;
		font-size: 1em;
	}

	.btn-blue:hover,
	.btn-blue:focus {
		color: #fff;
		font-family: "BreviaBold";
		background: rgba(0,85,173,0.8);
	}

	#bg-blue-2 {
		background: #35c4ff;
		
	}

	.wave-up-blue-2 {
	    background-image: url("/frontend/img/wave-up-blue-2.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    position: absolute;
	    margin-top: -20px;
	    padding-bottom: 20px;
	}

	.footer {
		font-family: "BreviaMedium";
		color: #fff;
		font-size: 0.9em;
		padding: 10px;
		bottom: 0;
	}

	.modal-header {
		background: #09a6e7;
		color: #fff;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.modal-teaser span{
		color: #09a6e7;
	}

	.modal-content {
		position: relative;
	    background-color: #fefefe;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    border: 1px solid #999;
	    border: 1px solid rgba(0,0,0,.2);
	    border-radius: 10px;
	    outline: 0;
	    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	    box-shadow: 0 3px 9px rgba(0,0,0,.5);
	}

	.modal-body {
		padding: 30px 0;
	}

	.icon-mechanism {
		margin-left: -40px;
	}

	.icon-mechanism li {
	    list-style-type: none;
	    display: inline-block;
	    /* padding: 0px 5px; */
	    font-size: 0.8em;
	    width: 90px;
	    vertical-align: top;
	}

	.icon-mechanism li img {
	   width: 90%;
	}

	.text-yellow {
		color:#ffd200;
	}

	.form-control {
		border-radius: 20px;
		padding: 20px;
	}

	.form-group { margin-bottom: 20px;}
	.join {font-family: "BreviaMedium";}

	.profile img {
		width: 100%; 
		/*padding: 15px 5px;*/
		position: absolute;
		z-index: 1;
	}
	
	.nav-mobile .navbar-toggle {
	    position: relative;
	    float: left;
	    padding: 9px 10px;
	    margin-top: 8px;
	    margin-left: 15px;
	    margin-bottom: 8px;
	    background-color: transparent;
	    background-image: none;
	    border: 1px solid transparent;
	    border-radius: 4px;
	}
	
	.nav-mobile .navbar-default .navbar-toggle {
	    background-color: transparent;
	    border-radius: 50%;
	    padding: 10px 7px;
	    border: 2px solid #fff;
	}
	
	.nav-mobile .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: rgba(255,255,255,0.2);
	    border-radius: 50%;
	    padding: 10px 7px;
	    border: 2px solid #fff;
	}
	
	.nav-mobile .navbar-default .navbar-toggle .icon-bar {
	    background-color: #fff;
	}

	.nav-mobile .navbar-default {
	    background-color: #09a6e7;
	    height: 60px;
        position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	    margin:0;
	}

	.nav-mobile .navbar-brand-mobile {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}

	.nav-mobile .navbar-brand-mobile img { width: 65px; }

	

	.nav-mobile .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: #e7e7e7;
	    margin-top: 4px;
	    background: #09a6e7;
	    width: 80%;
	    border: 2px solid #09A6D2;
	    z-index: 99;
	    position: absolute;
	}
	.nav-mobile .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	    color: #fff;
	    background-color: rgba(255,255,255,0.4);
	}
	
	.nav-mobile .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	    color: #fff;
	    background-color: rgba(255,255,255,0.4);
	}

	.nav-mobile .navbar-default .navbar-nav>li>a { color: #fff; }
	.nav-mobile .navbar-brand { display:none; }
	.sidebar { display: none; }
	.nav-mobile .logoff {display: none; }
	.get-started {display: none; }

	.filter {display:none;}

	.filter-mobile { 
		display: block;
	    /*padding: 15px 5px;*/
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    font-size: 1em;
	    background: #09a6e7;
	    color: #333;
	    z-index: 99; 
	}
	
	.btn-filter {
		font-size: 0.8em;
		color: #fff;
		/*padding: 8px 20px 10px 20px;
		margin: 0 5px;*/
	}

	.content {display:none;}
	.filter-mobile-block {
	    font-size: 0.8em;
	    padding: 20px 5px;
	    color: #066b95;
	    border-right: solid 1px rgba(255,255,255,0.3);
	    cursor: pointer;
	}

	.filter-mobile .active {
		background: #ffcc00;
		color: #fff;
	}

	.nav-mobile .navbar-brand-title {
	    padding: 18px 0;
	    color: #fff;
	}

	.btn-posting {
		display: block;
	    position: fixed;
	    top: 60px;
	    left: 0;
	    right: 0;
	    width: 100%;
	    font-size: 0.8em;
	    background: rgba(255,255,255,0.6);
	    color: #999;
	    z-index: 99; 
	}

	.btn-posting-block {
		padding: 15px 0;
		cursor: pointer;
	}

	.btn-posting .active {
		background: rgba(9,166,231,0.7);
		color: #fff;
	}

	.btn-posting :hover {
		background: rgba(9,166,231,0.7);
		color: #fff;
	}

	.content-mobile {
		display: block;
		margin-top: 70px;
		font-family: "BreviaMedium";
		font-size: 0.8em;
	}

	.content-mobile .post-photo-thumbnail {
		width: 100%;
		margin-bottom: 10px;
	}

	.content-mobile .post-photo,
	.content-mobile .post-status,
	.content-mobile .post-location {
		border: 1px solid #e9e9e9;
		margin: 10px 0;
	}
	
	.content-mobile .post-photo .icon-photo {
		position: absolute;
		margin: 5px;
	}
	
	.content-mobile .post-photo-desc {
		padding: 0 10px;
		background: #fff;
	}

	#home-detail .post-photo-desc {
		padding: 20px 10px;
		background: #fff;
		border: 1px solid #e9e9e9;
		
	}
	
	#home-detail .img-circle { width: 30px;}

	#home-detail .icon-message,
	#home-detail .icon-photo,
	#home-detail .icon-status,
	#home-detail .icon-location {
		width: 30px;
		position: absolute;
		height: 30px;
		background: #ffc600;
		border-radius: 50%;
		margin: 10px 10px;
		padding: 5px;
	}

	.icon-message,
	.icon-photo,
	.icon-status,
	.icon-location {
		width: 30px;
		height: 30px;
		background: #ffc600;
		border-radius: 50%;
		margin: 0 10px;
		padding: 5px;
	}

	.icon-photo-posting,
	.icon-status-posting,
	.icon-location-posting {
		width: 25px;
		height: 25px;
		background: #ffc600;
		border-radius: 50%;
		margin: 0 5px;
		padding: 5px;
	}

	.content-mobile .post-status-desc, 
	.content-mobile .post-location-desc {
		padding: 10px 0;
		background: #fff;
	}

	.inspiration-headline-title { display:none; }

	.inspiration-thumbnail img { 
		width: 100%;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		border-top: 1px solid #09a6e7;
		border-right: 1px solid #09a6e7;
		border-left: 1px solid #09a6e7;
	}
	
	.inspiration {
		margin-bottom: 20px;
	}

	.inspiration .caption {
		border-left: 1px solid #09a6e7;
		border-right: 1px solid #09a6e7;
		border-bottom: 1px solid #09a6e7;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		padding: 10px;
		font-family: "BreviaMedium";
		background: #fff;
	}

	.inspiration .caption-footer {
		border-top: 1px solid #09a6e7;
		padding: 10px 0;
	}

	.inspiration .btn-readmore {
		width: 20px;
		border: none;
	}

	.inspiration-top-header {
		display: none;
	}

	.inspiration-cover {
		display: block;
	}

	.inspiration-cover img {
		width: 100%;
	}

	#bg {
		background: url("/frontend/img/bg-desktop.jpg") top center no-repeat;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	margin-top: 60px;
	}

	.home-wave-up-mobile {
		background-image: url("/frontend/img/home-wave-up.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    position: absolute;
	    margin-top: -20px;
	    padding-bottom: 40px;
	}

	#form-register {
		font-family: "BreviaMedium";
	}

	.text-blue {
		color: #09a6e7;
	}

	#bg-post-photo {
		background: url("/frontend/img/bg-post-photo.jpg") top center no-repeat;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	margin-top: 60px;
	  	min-height: 500px;
	}

	.choose-post-photo {
		margin-top: 100%;
	}

	.modal-post-photo-body,
	.modal-post-status-body,
	.modal-post-location-body,
	.success-mobile,
	.modal-message-body {
		font-family: "BreviaMedium";
	}

	.history {
		margin-bottom: 20px;
	}

	.history .history-header {
	    background: #a4c744;
	    color: #fff;
	    padding: 5px 10px;
	    text-align: left;
	}

	.history .history-body {
		color: #a4c744;
		padding: 10px;
		text-align: left;
		background: #fff;
		margin-bottom: 5px;
	}

	.history .icon-history {
		width: 30px;
		border-radius: 50%;
		background: #a4c744;
		padding: 5px;
	}

	.profile-welcome img { max-height: 100px; max-width: 100px; margin-top: -50%;}

	.modal-post-status-success { background: #fff; border: 1px solid #e9e9e9; padding: 10px 5px;}
	.modal-post-location-success { background: #fff; border: 1px solid #e9e9e9; padding: 10px 5px;}
	
	.profile-mydiary img { max-height: 100px; max-width: 100px; margin-top: 30%; margin-bottom: 5%;}

	.message-mydiary {
		display:block;
	}
	
	.message-mydiary img {
	    display: block;
	    width: 30px;
	    border-radius: 50%;
	    background: #ffc600;
	    padding: 5px;
	}

	.message-mydiary .notification {
	    background: #F00;
	    width: 20px;
	    text-align: center;
	    border-radius: 50%;
	    font-size: 0.8em;
	    color: #fff;
	    margin-left: 20px;
	    margin-top: -10px;
	    z-index: 9;
	    padding: 2px 4px;
	    position: absolute;
	}

	.username-mydiary {
	    display: block;
	    color: #fff;
	    text-align: center;
	    background: #09a6e7;
	    padding: 5px 20px;
	    z-index: 9;
	    position: relative;
	    border-radius: 15px;
	    top: 10px;
	}

	.message-content { 
		display: block;
		border-bottom: 2px solid #e9e9e9;
		margin: 20px 0;
	}

	.prize-header {
		color: #a24c1d;
		background: #fad506;
		padding: 20px 40px;
	}
	
	.prize-header span {
		color: #fff;
	}

	.prize-body {
		color: #a24c1d;
		background: #fabf0d;
		padding: 30px 60px;
	}
	
	.prize-body span {
		color: #fff;
	}

	.prize-img img {width: 100%; padding: 20px;}

	.no-gutter > [class*='col-'] {
	    padding-right:0;
	    padding-left:0;
	}

	.home-footer-desktop {display: none;}
	.number {
		color: #fff;
		background: #ffaa06;
		padding: 5px;
		width: 30px;
		border-radius: 50%;
	}

	.nav-tabs>li {
	    float: left;
	    margin-bottom: -1px;
	    width: 85px;
	}

	.tab-winner {
		font-size: 0.8em;
	}

	.winner-header img {width:100%;}
	.winner-name img {width: 50px;}
	.winner-name {
	    position: absolute;
	    padding: 5px;
	    background: rgba(255,255,255,0.5);
	    bottom: 30%;
	    width: 90%;
	}
	#inspiration-detail-desktop {display: none;}
	#inspiration-detail-mobile {display: block;}

	.inspiration-detail-title {
	    display: block;
	    color: #fff;
	    margin-top: 100%;
	    text-align: center;
	    background: #09a6e7;
	    padding: 5px 20px;
	    z-index: 9;
	    position: relative;
	    border-radius: 15px;
	    top: 10px;
	}

	.inspiration-box-header {
		background: url("/frontend/img/bg-notes.jpg") center no-repeat;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		margin: 25px 0;
	}

	.inspiration-box-desc {
		background: rgba(197,242,255,0.4);
		border-radius: 15px;
	}

	.inspiration-title-top {
		background: #fabf0d;
		color: #fff;
		padding: 20px;
		margin-top: -15px;
		border-top-left-radius: 15px;
	}
	
	.overlay-play-btn {
		width: 50px;
	    position: absolute;
	    background: #fabf0d;
	    cursor: pointer;
	    padding: 0px;
	    left: 40%;
	    border-radius: 50%;
	    top: 40%;
	}

	.inspiration-title-bottom {
		width: 100%;
	}

	/*.inspiration-title-bottom img { width: 100%; }*/

	.inspiration-header-top {
	    background: #f5ca00;
	    color: #fff;
	    padding: 20px;
	    border-top-left-radius: 15px;
	}

	.inspiration-header-bottom {
		padding: 10px;
		font-family: "BreviaMedium";
	}

	.inspiration-desc-top {
		background: #c5f2ff;
		color: #28a2db;
		padding: 20px;
		margin-top: -15px;
		border-top-left-radius: 15px;
		
	}

	.inspiration-desc-bottom {
		padding: 10px;
		font-family: "BreviaMedium";
	}

	.loading {
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,0.7);
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    padding-top: 60%;
	    color: #fff;
	    z-index: 99999;
	}
	
	.scm-product img {
	    width: 100%;
	    padding: 0% 10%;
	    margin-top: -60%;
	    /* display: none; */
	}

	#intro-teaser #bg-blue {
	    background: #09a6e7;
	    margin-top: -45%;
	}

	#intro-teaser .wave-up-blue {
	    background-image: url("/frontend/img/wave-up-blue.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    position: absolute;
	    margin-top: -52%;
	    padding-bottom: 100px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.nav-mobile {display: none;}
	.nav-desktop {display: block;}
	.content {display: block;}
	.content-mobile {display: none;}
	.filter-mobile {display: none;}
	#inspiration-detail-desktop {display: block;}
	#inspiration-detail-mobile {display: none;}
	.nav-mobile .navbar-brand-title { display: none; }
	.btn-posting {display:none;}
	.nav-mobile .navbar-brand-mobile {
		display: none;
	}
	
	#intro-teaser .logo-scm img {
	    display: block;
	    padding: 0 25%;
	    margin-top: -30%;
	}

	.logo-scm-2 img {display: none;}

	.logo-ffi {
		padding: 0 30px;
	}

	.logo-scm {
		margin-bottom: 20px;
		padding: 0 25px ;
	}

	.headline-desktop {
		display: block;
		color: #fff;
		padding: 20px 10px;
		font-size: 1.5em;
		-webkit-border-image: url("/frontend/img/wave-grey.png") 30 round; /* Safari 3.1-5 */
	    -o-border-image: url("/frontend/img/wave-grey.png") 30 round; /* Opera 11-12.1 */
	    border-image: url("/frontend/img/wave-grey.png") 30 round;
	}

	.headline-mobile {
		display: none;
	}

	.scm-product-teaser img{
		width: 100%;
		padding: 0 60px;
	}
	
	.scm-product img {
	    width: 100%;
	    padding: 10px 30px;
	    margin-top: 5px;
	}

	.short-description-mobile-teaser {
		display: none;
	}
	
	.short-description-desktop-teaser {
		display: block;
		color: #fff;
		padding-bottom: 100px;
	}

	.short-description-box-teaser {
		border-right: solid 1px rgba(255,255,255,0.7);
		padding-right: 20px;
		margin-right: -15px;
	}
	
	.short-description-mobile {
		display: none;
	}
	
	.short-description-desktop {
		display: block;
		color: #fff;
	}

	.short-description-box {
		font-family: "BreviaMedium";
		padding-right: 100px;
		
	}

	hr { border-color: rgba(255,255,255,0.5);}

	.icon-mechanism {
		margin-left: -40px;
	}
	.icon-mechanism li {
		list-style-type: none;
		display: inline-block;
		padding: 0 20px;
		width: 160px;
	}

	.icon-mechanism li img {
	   width: 90%;
	}

	.nav-desktop .navbar-brand {
	
	}

	.nav-desktop .navbar-brand img {
		width: 150px;
	}

	.nav-desktop .navbar-default {
	    background: url("/frontend/img/bg-desktop.jpg") top center no-repeat;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	  	font-size: 0.8em;
	  	font-family: "BreviaBlack";
	}

	.nav-desktop .logoff {
		display: block;
		padding: 20px 0;
		width: 110px;
		
	}

	.nav-desktop .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	    color: #fff;
	    background-color: #09a6e7;
	    border-radius: 10px;
	}

	.nav-desktop .navbar-default .navbar-nav>li>a {
	    color: #fff;
	    margin: 30px 2px;
	    padding: 10px;
	}

	.nav-desktop .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	    color: #fff;
	    background-color: #09a6e7;
	    border-radius: 10px;
	}

	#home {
		background: url("/frontend/img/bg-pattern.jpg") repeat;
		padding-top: 50px;
	}

	.home-wave-up {
	    background-image: url("/frontend/img/home-wave-up.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    position: absolute;
	    margin-top: -40px;
	    padding-bottom: 40px;
	}

	.filter {
		float: right;
		display: block;
	}

	.btn-yellows {
		border-radius: 30px;
		padding: 8px 50px 10px 50px;
		background: #ffaa06;
		color: #fff;
		font-size: 1em;
	}

	.btn-light-blues {
		border-radius: 30px;
		padding: 8px 50px 10px 50px;
		background: #09a6e7;
		color: #fff;
		
		font-size: 1em;
	}

	.btn-filter {
		font-size: 0.7em;
		color: #fff;
		padding: 8px 20px 10px 20px;
		margin: 0 5px;
	}
	
	.sidebar {
		display: block;
	  	background: #fff;
	  	border: 2px #09a6e7 solid;
	  	border-radius: 15px;
	  	width: 260px;
	  	font-family: "BreviaBold";
	 	
	}

	.sidebar-header img{
		float: left;
		position: relative;
		width: 70px;
		max-height: 74px;
		margin: 0 20px;
	}

	.sidebar-header {
		border-top-right-radius: 12px;
		border-top-left-radius: 12px;
		background: #09a6e7;
		padding: 20px 5px;
		color: #fff;
		font-family: "BreviaBold";
	}

	.wave-sidebar {
	    background-image: url("/frontend/img/wave-sidebar.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    margin-top: 0px;
	    z-index: 0;
	    padding-bottom: 20px;
	}

	.sidebar-body {
		padding: 0 0 10px 0;
	}

	.img-circle {
		border-radius: 50%;
		border: 3px solid #ffc600;
	}

	.icon-sidebar {
		margin-left: -15px;
		margin-top: 10px;
	}

	.icon-sidebar li {
		list-style-type: none;
		display: inline-block;
		padding: 0 5px;
		width: 40px;
		height: 40px;
		background: #09a6e7;
		border-radius: 50%;
		margin: 0 5px;
	}

	.icon-sidebar li img {
	   width: 100%;
	   padding: 10px 5px;
	}
	
	.icon-sidebar :hover,
	.icon-sidebar :active,
	.icon-sidebar :focus {
		background: #ffc600;
		border-radius: 50%;
		cursor: pointer;
	}

	.content {
		background: #fbfbfb;
		border-radius: 15px;
		border: 2px solid #e9e9e9;
		padding: 15px;
	}

	.get-started {
		display: block;
		border: 4px solid #e9e9e9;
		background: #fff;
		padding: 15px;
		font-family: "BreviaMedium";
	}
	
	.get-started-header {
	}

	.get-started-header img{
		padding: 10px 10px;
		width: 40px;
		height: 40px;
		background: #ffc600;
		border-radius: 50%;
	}

	.get-started-header .separator {
		border-right: 2px solid #e9e9e9;
		border-left: 2px solid #e9e9e9;
	}

	.get-started-header .nav {
	    padding-left: 40px;
	    margin-bottom: 0;
	    list-style: none;
	}

	.get-started-body img{
		float: left;
		position: relative;
		width: 50px;
		/*max-height: 50px;*/
		margin: 0 20px;
	}
	
	.get-started-body form {
		color: #e9e9e9;
	}

	.get-started-body .img-circle {
		max-width: 50px;
		max-height: 50px;
	}

	.btn-light-blue-2 {
	    border-radius: 30px;
	    padding: 8px 50px 10px 50px;
	    background: #c8efff;
	    color: #0a9ce7;
	    font-size: 1em;
	    margin-top: -20px;
	    margin-bottom: 20px;
	}

	.post-photo {
		margin: 15px 0;
	}
	.post-photo img{
		width: 100%;
		border-top: 2px solid #e9e9e9;
		border-left: 2px solid #e9e9e9;
		border-right: 2px solid #e9e9e9;
	}

	.post-photo .icon-photo {
		width: 40px;
		height: 40px;
		background: #ffc600;
		border-radius: 50%;
		margin: 20px 35px;
		padding: 10px;
		position: absolute;
	}

	.post-photo .post-photo-desc img{
		width: 50px;
		max-height: 50px;
		margin: 0 15px;
		float: left;
	}

	.post-photo .post-photo-desc {
		font-family: "BreviaMedium";
		padding: 15px 0;
		background: #fff;
		border: 2px solid #e9e9e9;
	}

	.post-status {
		margin: 15px 0;
	}

	.post-status .icon-status {
		width: 40px;
		height: 40px;
		background: #ffc600;
		border-radius: 50%;
		margin: 0 22px;
		padding: 10px;
		float: left;
	}

	.post-status .post-status-desc {
		font-family: "BreviaMedium";
		padding: 15px 0;
		background: rgba(255,255,255,0.8);
	}

	.post-location {
		margin: 15px 0;
	}
	
	.post-location .icon-location {
		width: 40px;
		height: 40px;
		background: #ffc600;
		border-radius: 50%;
		margin: 0 10px;
		padding: 10px;
		float: left;
	}

	.post-location .post-location-desc {
		font-family: "BreviaMedium";
		padding: 15px 0;
		background: rgba(255,255,255,0.8);
	}

	.icon-message,
	.icon-photo,
	.icon-status,
	.icon-location {
		width: 40px;
		height: 40px;
		background: #ffc600;
		border-radius: 50%;
		margin: 0 10px;
		padding: 10px;
	}

	.text-blue {
		color: #09a6e7;
	}

	.modal-message-body {
		padding: 10px 25px;
		font-family: "BreviaMedium";
		border-bottom: 1px solid #09a6e7;
	}

	.modal-message-body i.date {
		font-size: 0.7em;
		margin-top: 10px;
		float: right;
		position: relative;
		color: #73a70e;
	}

	.modal-post-photo-body {
		padding: 10px 25px;
		font-family: "BreviaMedium";
	}
	
	.modal-post-photo-body img {
		float: left;
		padding: 0 10px;
	}

	.modal-post-photo-body .btn-light-blue {
		width: 70%;
	}

	.btn-submit-pop-up {
	    border-radius: 30px;
	    padding: 8px 50px 10px 50px;
	    background: #ffaa06;
	    color: #fff;
	    font-size: 1em;
	    margin-bottom: -140px;
	}

	.modal-post-status-body {
		padding: 10px 25px;
		font-family: "BreviaMedium";
	}

	.modal-post-location-body {
		/*padding: 10px 25px;*/
		font-family: "BreviaMedium";
	}
	
	.padding { padding: 0 30px; }

	.read-more {
		color: #ffd304;
		text-transform: italic;
	}

	.inspiration {
		font-family: "BreviaMedium";
	}

	
	.inspiration .inspiration-thumbnail img {
		width: 100%;
		max-height: 355px;
		padding: 0;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}

	.inspiration .inspiration-thumbnail .caption {
		border-bottom: 1px solid #c8efff;
		padding: 5px 20px;
	}
	
	.inspiration-thumbnail {
	    display: block;
	    margin-bottom: 20px;
	    background-color: #fff;
	    border: 1px solid #ddd;
	    border-radius: 4px;
	    -webkit-transition: border .2s ease-in-out;
	    -o-transition: border .2s ease-in-out;
	    transition: border .2s ease-in-out;
	}

	.inspiration .caption-footer {
		border-top:  1px solid #c8efff;
		padding: 5px 0;
	}

	.body-share {
		font-family: "BreviaMedium";
		padding: 10px 100px 20px 100px;
	}

	.body-share span { color: #0890d6; }

	.modal-post-photo-success {
		padding: 20px 30px;
		font-family: "BreviaMedium";
	}

	.modal-post-photo-success img {
		margin: 5px 0;
	}
	
	.modal-post-status-success {
	    padding: 20px 30px;
	    margin: 10px 50px;
	    border: 2px solid #e9e9e9;
	    font-family: "BreviaMedium";
	}

	.modal-post-location-success {
	    padding: 20px 30px;
	    margin: 10px 50px;
	    border: 2px solid #e9e9e9;
	    font-family: "BreviaMedium";
	}

	.form-control-location {
	    position: absolute;
	    width: 80%;
	    margin: 0 10%;
	    z-index: 9;
	    top: 50px;
	    color: #fff;
	    background: rgba(8,144,214,0.8);
	}

	.notification {
	    background: #ff0000;
	    color: #fff;
	    border-radius: 50%;
	    padding: 2px 6px;
	    font-size: 0.7em;
	    text-align: center;
	    position: relative;
	    margin: -8px;
	    float: right;
	}
	
	.img-cover {
	    width: 100%;
	    border-top-left-radius: 15px;
	    border-top-right-radius: 15px;
	    max-height: 180px;
	    height: 180px;
	}
	
	.nav-tabs>li {
	    float: left;
	    margin-bottom: -1px;
	    width: 170px;
	    font-size: 0.8em;
	}

	.tab-winner {
		font-size: 1em;
	}

	.winner-header .winner-name {
	    position: absolute;
	    padding: 10px;
	    color: #333;
	    bottom: 20px;
	    margin-bottom: 80px;
	}

	.winner-name img { width: 50px;max-height: 50px; }
	.winner-bottom { 
		padding: 15px; 
		font-family: "BreviaMedium"; 
		background: #fff;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	.winner-bottom img { width: 50px; }

	.no-padding {
	  margin-left: 0;
	  margin-right: 0;
	  [class*="col-"] {
	    padding-left: 0 !important;
	    padding-right: 0 !important;
	  }
	}

	.no-gutter > [class*='col-'] {
	    padding-right:0;
	    padding-left:0;
	}

	.inspiration-box-title {
		background: #fad506;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		height: 400px;
		max-height: 400px;
		margin: 50px 0;
		overflow-y: scroll;
	}

	.inspiration-box-header {
		/*background: #fbfbfb;*/
		background: url("/frontend/img/bg-notes.jpg") center no-repeat;
		-webkit-background-size: cover;
	  	-moz-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		height: 450px;
		max-height: 450px;
		margin: 25px 0;
		overflow-y: scroll;
	}

	.inspiration-box-desc {
		background: rgba(197,242,255,0.4);
		border-radius: 15px;
		height: 500px;
		max-height: 500px;
		overflow-y: scroll;
	}

	.inspiration-title-top {
		background: #fabf0d;
		color: #fff;
		padding: 20px;
		margin-top: -15px;
		border-top-left-radius: 15px;
	}
	
	.overlay-play-btn {
		width: 50px;
	    position: absolute;
	    background: #fabf0d;
	    cursor: pointer;
	    padding: 0px;
	    left: 40%;
	    border-radius: 50%;
	    top: 40%;
	}

	.btn-portion {
		padding: 10px 20px;
		width: 80%;
    	margin: 10%;
	}

	.inspiration-title-bottom {
		width: 100%;
	}

	/*.inspiration-title-bottom img { width: 100%; }*/

	.inspiration-header-top {
	    background: #f5ca00;
	    color: #fff;
	    padding: 20px;
	    border-top-left-radius: 15px;
	}

	.inspiration-header-bottom {
		padding: 10px 50px;
		font-family: "BreviaMedium";
	}

	.inspiration-desc-top {
		background: #c5f2ff;
		color: #28a2db;
		padding: 20px;
		margin-top: -15px;
		border-top-left-radius: 15px;
		
	}

	.inspiration-desc-bottom {
		padding: 10px 50px;
		font-family: "BreviaMedium";
	}

	.inspiration-headline-title {display:block;}
	
	.inspiration .inspiration-thumbnail .inspiration-desc-bottom .caption-footer .btn-readmore {
		width: 20px;
		border: none;
	}

	.inspiration-top-header {
		margin-top: -80px;
		display: block;
	}

	.inspiration-cover {display: none;}
	.home-footer-desktop {display: block;}
	#intro-teaser #bg-blue {
		background: #09a6e7;
		margin-top: -80px;
	}
	.wave-up-blue {
	    background-image: url("/frontend/img/wave-up-blue.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    position: absolute;
	    margin-top: -70px;
	    padding-bottom: 100px;
	}

	#intro-teaser .wave-up-blue {
	    background-image: url("/frontend/img/wave-up-blue.png");
	    background-repeat: repeat-x;
	    width: 100%;
	    position: absolute;
	    margin-top: -110px;
	    padding-bottom: 100px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
